<div class="container-fluid">
    <div class="row">
        <div class="col">
            <table>
                <thead>
                    <th>#</th>
                    <th>Name</th>
                    <th>Channel</th>
                    <th>Seasons</th>
                </thead>
                <tbody>
                    <tr *ngFor="let serie of series;let i = index;">
                        <td style="font-weight:bold;">{{serie.id}}</td>
                        <td style="color:#4099e0;font-weight:500;" (click)="onSelected(serie)">
                            <div >
                                {{serie.name}}
                            </div>
                        </td>
                        
                        <td>{{serie.channel}}</td>
                        <td>{{serie.seasons}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col" *ngIf="selected">
            
            <app-series-detail [serieDetail] = "selectedSerie"> </app-series-detail>
        </div>
    </div>
</div>